.homebody {
    height: 100vh;
     background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://www.ttnews.com/sites/default/files/images/articles/column-1200_0.jpg');
 
    background-size: cover;
    background-position: center; 
 }
 
 .bg-usftheme {
    background-color: #5A881C;
    border: none;
 }
 
 /* .card {
    opacity: 75%;
 } */
 .btn-usf-green {
    background-color: #5A881C;
 }
 
 .btn-usf-orange {
    background-color: #D14412;
 }
 
 .btn-usf-gray {
    background-color: #717173;
 }
 